<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.plugin.gdsl/GDSL" 
       class = "gdsl.plugin.gDSL.GDSLPackage"
       genModel = "model/generated/GDSL.genmodel" /> 
	
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="gdsl.plugin.preferences.PreferenceInitializer">
     </initializer>
  </extension>



</plugin>
