<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.plugin.gdsl/GDSL" 
       class = "gdsl.plugin.gDSL.GDSLPackage"
       genModel = "model/generated/GDSL.genmodel" /> 
	
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="gdsl.plugin.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="gdsl.plugin.GDSL.compiler.preferencePage"
           class="gdsl.plugin.preferences.plugin.GdslCompilerPreferencePage"
           id="gdsl.plugin.preferences.plugin.GDSLCompiler"
           name="GDSL Compiler">
     </page>
  </extension>
	<extension id="preferences" point="org.eclipse.core.runtime.preferences" name="preferences">
		<scope name="Project" class="org.eclipse.core.internal.resources.ProjectPreferences"/>
	</extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          category="gdsl.plugin.GDSL.compiler.propertyPage"
          class="gdsl.plugin.preferences.project.GdslPropertyPage"
          id="gdsl.plugin.preferences.project.GDSLCompiler"
          name="GDSL Compiler"
          nameFilter="*">
       <enabledWhen>
          <instanceof
                value="org.eclipse.core.resources.IProject">
          </instanceof>
       </enabledWhen>
    </page>
 </extension>




</plugin>
