<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gdsl.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="gdsl.plugin.GDSL.compiler.preferencePage"
            class="gdsl.plugin.ui.pref.preferences.GdslPreferencePage"
            id="gdsl.plugin.ui.pref.preferences.GdslPreferencePage"
            name="External GDSL Compiler">
      </page>
   </extension>

</plugin>
